<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>CLIENT_ID</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>295518104458-0ghbp0jo9034601k7ih49cufvo0mf493.apps.googleusercontent.com</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>REVERSED_CLIENT_ID</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.295518104458-0ghbp0jo9034601k7ih49cufvo0mf493</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>API_KEY</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>AIzaSyCImf5LkXBBnZRBaiqTr2pDkW31976aonk</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>GCM_SENDER_ID</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>295518104458</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>PLIST_VERSION</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>1</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>BUNDLE_ID</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.ecommerceearn.deliverypartner</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>PROJECT_ID</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>affilate-ecommerce-56ccc</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>STORAGE_BUCKET</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>affilate-ecommerce-56ccc.firebasestorage.app</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>GOOGLE_APP_ID</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>1:295518104458:ios:ef6306e8d270ddc52db673</string>
			</array>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>api.lfvs.in</key>
			<dict>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>lfvs.in</key>
			<dict>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
